extends baseEmail

block content
  p Reset your password
  h2 Hi #{firstName},
  h3 Let's reset your password so you can go back to your account.
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Reset your password
  p If you didn't forget your password, please ignore this email!
