extends base

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Forgot Password
      form.form.form--forpass
        .form__group
          label.form__label(for='email') Email address
          input#email.form__input(type='email', placeholder='you@example.com', required)
          a.go-to-login(href='/login') Back to Login
        .form__group
          h3 We will send you an email with instructions on how to reset your password.
          br  
          button.btn.btn--green.btn--emailme Email Me
