extends base

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Reset Your New Password
      form.form.form--respass
        .form__group
          label.form__label(for='password') Password
          input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group
          label.form__label(for='password-confirm') Confirm Password
          input#password-confirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group
          button.btn.btn--save-password.btn--green Save
          a.go-to-login(href='/login') Back to Login
