extends base

block content
  main.main
    .signup-form
      h2.heading-secondary.ma-bt-lg Reset Your New Password
      form.form.form--reset
        .form__group.ma-bt-md
          label.form__label(for='password') Password
          input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group.ma-bt-md
          label.form__label(for='password-confirm') Confirm Password
          input#password-confirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group
          button.btn.btn--save-password.btn--green Save
          a(class='fg', href='/login') Login?